<tr id="row-{{ row.codigo }}" data-code="{{ row.codigo }}">
  <td style="width:160px;">{{ row.codigo }}</td>
  <td>{{ row.descripcion }}</td>

  <td style="width:160px;">
    {% if col == 'cantidad_existente' %}
      <input type="number" name="cantidad_existente" value="{{ row.cantidad_existente }}"
             form="f-{{ row.codigo }}-onecol">
    {% elif col == 'punto_pedido' %}
      <input type="number" name="punto_pedido" value="{{ row.punto_pedido }}"
             form="f-{{ row.codigo }}-onecol">
    {% elif col == 'stock_ideal' %}
      <input type="number" name="stock_ideal" value="{{ row.stock_ideal }}"
             form="f-{{ row.codigo }}-onecol">
    {% elif col == 'stock_critico' %}
      <input type="number" name="stock_critico" value="{{ row.stock_critico }}"
             form="f-{{ row.codigo }}-onecol">
    {% endif %}
  </td>

  <td style="width:120px;" class="actions">
    <form id="f-{{ row.codigo }}-onecol"
          hx-post="{% url 'farm_central_update_row' row.codigo %}?onecol={{ col }}"
          hx-target="#row-{{ row.codigo }}"
          hx-swap="outerHTML">
      {% csrf_token %}
      <button type="submit" class="btn btn-success btn-sm">Guardar</button>
    </form>
  </td>
</tr>
